# Database
DB_HOST=localhost
DB_PORT=3307
DB_USERNAME=root
DB_PASSWORD=your_mysql_password_here
DB_NAME_USER=user_db
DB_NAME_PRODUCT=product_db
DB_NAME_ORDER=order_db
DB_NAME_CART=cart_db

# Redis & RabbitMQ
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Eureka & Gateway
PORT_GATEWAY=8080
EUREKA_URL=http://localhost:8761/eureka/
SPRING_CLOUD_CLIENT_IP_ADDRESS=127.0.0.1


# SECURITY & THIRD-PARTY INTEGRATIONS
JWT_SECRET=your_jwt_secret_key

# Google OAuth2
GOOGLE_CLIENT_ID=your_google_client_id_

# Cloudinary (Image Storage)
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret

# VNPay Payment Gateway
VNP_TMN_CODE=your_vnpay_tmn_code
VNP_HASH_SECRET=your_vnpay_hash_secret
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/payment-result